
<!DOCTYPE html>

<div class="jumbotron">
    <h1>Login</h1>
    <p class="lead">
        Hello and welcome to Data X, the best website when you are in need of assistance
        with large amounts of data. Please enter in your username so we can log you in.
    </p>
</div>
<p>Please enter your username.</p>
Login: <input type="text" name="username"><br>
<button onclick="log_in()">Log in</button>
</html>
<script>
    String usernames = ["Luke", "Zoe"];

    function log_in() {
        String name = username;
        for (int i = 0; i++; i < usernames.length) {
            if (usernames[i] == name) {
                url_for('home');
            }
        }
    }

</script>
